In [8]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import loganalisis
from glob import glob
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
#Jueves
diasA1=[datetime(2024,9,26),
      datetime(2024,10,3),
      datetime(2024,10,10),
      datetime(2024,10,17),
      datetime(2024,10,24),
      datetime(2024,10,31),
      datetime(2024,11,7),
      datetime(2024,11,14),
      datetime(2024,11,21),
      datetime(2024,11,28),
      datetime(2024,12,12),
      datetime(2024,12,19),
      datetime(2025,1,9)]

#Viernes
diasA2=[datetime(2024,9,27),
      datetime(2024,10,4),
      datetime(2024,10,11),
      datetime(2024,10,18),
      datetime(2024,10,25),
      datetime(2024,11,8),
      datetime(2024,11,15),
      datetime(2024,11,22),
      datetime(2024,11,29),
      datetime(2024,12,5),# Es un jueves permiutado
      datetime(2024,12,13),
      datetime(2024,12,20),
      datetime(2025,1,10)]

#Martes
diasA3=[datetime(2024,9,24),
      datetime(2024,10,1),
      datetime(2024,10,15),
      datetime(2024,10,22),
      datetime(2024,10,29),
      datetime(2024,11,5),
      datetime(2024,11,12),
      datetime(2024,11,19),
      datetime(2024,11,26),
      datetime(2024,12,3),
      datetime(2024,12,10),
      datetime(2024,12,17),
      datetime(2025,1,7)]
horario=[17,20]

excluidos=["profesor", "clase"]

In [14]:
ficheros = glob("/srv/log/users/*.log")
print(len(ficheros))

42

In [15]:
hoy = datetime.now().date()

tabladict={}
for f in ficheros:
    usuario=os.path.basename(f).replace(".log","")
    if usuario in excluidos :
        continue
    res=loganalisis.asistencia(f,diasA1,horario)
    hasta_hoy={}
    for k,v in res.items():
        if k > hoy:
            continue
        hasta_hoy[k]=v
    serie=pd.Series(hasta_hoy)    
    tabladict[usuario]=serie
    #print(usuario,hasta_hoy)
df=pd.DataFrame(tabladict).T

df=df.sort_index()

In [16]:
df

          2024-09-26  2024-10-03  2024-10-10  2024-10-17
agomrui1          36         145          59         143
alanbas           26          94         109         156
allovil2           0           0           0           0
amaresp2          37         191         180         206
cclabot            0           0           0           0
ccosmir           22          46          60         120
clinche            0          80         112         117
cmolcas           73          60          95         138
dmillyu           63         224         255         212
dnuesal           33          58          71         120
dtavgra           46         301         154         276
fcargra            0         139           0         136
gchiort           87         164          26          36
grammol           56         113         123         111
jllotor           66         144          83         134
jmgomalm           0          49          72          69
jsertob           30          91         211         170
jvolmalb           0           0           0           0
lkwiatk           32          94         115         219
maamogam          44          94          89         160
mastoica           0           0           0           0
mblamar            0          82          91          91
mcarber           40          82          60         100
mcebsie           31         107         110          94
mfordom           38         102         107         243
mvilpra           25         113          16         125
nchudic            0           0           0           0
nllosor           47         156         187         219
nterala            0         113          98         107
oanda             26          72         155         163
pmasdel           32          85          36         107
pmiqmol           45         118         133         129
psegmon           27          53          59         115
pvilagu           50         111         117          86
tstevla           29          88          89         157
varonsan          27          58         101         203
vatorcha          22          83          79          67
vmonrib           45          45          75         133
xpallop           94          63          60         122
ztraagu           51          89         158         126

# Los del jueves que fueron el martes la primera seman

In [17]:
hoy = datetime.now().date()

tabladict={}
for f in ficheros:
    usuario=os.path.basename(f).replace(".log","")
    if usuario in excluidos :
        continue
    res=loganalisis.asistencia(f,diasA3,horario)
    hasta_hoy={}
    for k,v in res.items():
        if k > hoy:
            continue
        hasta_hoy[k]=v
    serie=pd.Series(hasta_hoy)    
    tabladict[usuario]=serie
    #print(usuario,hasta_hoy)
df=pd.DataFrame(tabladict).T

df=df.sort_index()

In [18]:
df

          2024-09-24  2024-10-01  2024-10-15
agomrui1           0           0           0
alanbas            0           0           0
allovil2           0           0           0
amaresp2           0           0           0
cclabot           25           0           0
ccosmir            0           0           0
clinche            0           0           0
cmolcas            0           0           0
dmillyu            0           0           0
dnuesal            0           0           0
dtavgra            0           0           0
fcargra            0           0           0
gchiort            0           0           0
grammol            0           0           0
jllotor            0           0           0
jmgomalm           0           0           0
jsertob            0           0           0
jvolmalb           0           0           0
lkwiatk            0           0           0
maamogam           0           0           0
mastoica          55           0           0
mblamar           51           0           0
mcarber            0           0           0
mcebsie            0           0           0
mfordom            0           0           0
mvilpra            0           0           0
nchudic           30           0           0
nllosor            0           0           0
nterala            0           0           0
oanda              0           0           0
pmasdel            0           0           0
pmiqmol            0           0           0
psegmon            0           0           0
pvilagu            0           0           0
tstevla            0           0           0
varonsan           0           0           0
vatorcha           0           0           0
vmonrib            0           0           0
xpallop            0           0           0
ztraagu            0           0           0