In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import loganalisis
from glob import glob
import os

In [2]:
#Jueves
diasA1=[datetime(2024,9,26),
      datetime(2024,10,3),
      datetime(2024,10,10),
      datetime(2024,10,17),
      datetime(2024,10,24),
      datetime(2024,10,31),
      datetime(2024,11,7),
      datetime(2024,11,14),
      datetime(2024,11,21),
      datetime(2024,11,28),
      datetime(2024,12,12),
      datetime(2024,12,19),
      datetime(2025,1,9)]

#Viernes
diasA1=[datetime(2024,9,27),
      datetime(2024,10,4),
      datetime(2024,10,11),
      datetime(2024,10,18),
      datetime(2024,10,25),
      datetime(2024,11,8),
      datetime(2024,11,15),
      datetime(2024,11,22),
      datetime(2024,11,29),
      datetime(2024,12,5),# Es un jueves permiutado
      datetime(2024,12,13),
      datetime(2024,12,20),
      datetime(2025,1,10)]

#Martes
diasA3=[datetime(2024,9,24),
      datetime(2024,10,1),
      datetime(2024,10,15),
      datetime(2024,10,22),
      datetime(2024,10,29),
      datetime(2024,11,5),
      datetime(2024,11,12),
      datetime(2024,11,19),
      datetime(2024,11,26),
      datetime(2024,12,3),
      datetime(2024,12,10),
      datetime(2024,12,17),
      datetime(2025,1,7)]
horario=[17,20]

excluidos=["profesor", "clase"]

In [3]:
ficheros = glob("/srv/log/users/*.log")
print(len(ficheros))

6

In [4]:
hoy = datetime.now().date()

tabladict={}
for f in ficheros:
    usuario=os.path.basename(f).replace(".log","")
    if usuario in excluidos :
        continue
    res=loganalisis.asistencia(f,diasA1,horario)
    hasta_hoy={}
    for k,v in res.items():
        if k > hoy:
            continue
        hasta_hoy[k]=v
    serie=pd.Series(hasta_hoy)    
    tabladict[usuario]=serie
    #print(usuario,hasta_hoy)
df=pd.DataFrame(tabladict).T

df=df.sort_index()

In [5]:
df

Empty DataFrame
Columns: []
Index: [cclabot, mastoica, mblamar, nchudic]

# Los del jueves que fueron el martes la primera seman

In [6]:
hoy = datetime.now().date()

tabladict={}
for f in ficheros:
    usuario=os.path.basename(f).replace(".log","")
    if usuario in excluidos :
        continue
    res=loganalisis.asistencia(f,diasA3,horario)
    hasta_hoy={}
    for k,v in res.items():
        if k > hoy:
            continue
        hasta_hoy[k]=v
    serie=pd.Series(hasta_hoy)    
    tabladict[usuario]=serie
    #print(usuario,hasta_hoy)
df=pd.DataFrame(tabladict).T

df=df.sort_index()

In [7]:
df

          2024-09-24
cclabot           25
mastoica          55
mblamar           51
nchudic           30